@CHARSET "ISO-8859-1";
.title{
    font-family: sans-serif;
    color: #dc2d5e;
}
.box{
padding-left: 50px;
}
.collapsible {

  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 40%;
  border: none;
  text-align: left;
  outline: none;
  font-style: bold;
  font-size: 16px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;

}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  font-size: 12px;
  overflow: hidden;
  width: 37.2%;
  background-color: #f1f1f1;
  text-align: left;
}
img{
margin-right :80px;
}
.btn {
  background-color: #4CAF50;
  color: white;
  padding: 5px;
  margin: 8px 0;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.right{
  padding-right: 45px;
}

